@import "tailwindcss";

@plugin "tailwindcss-animate";

/* 
If you want your dark theme to be driven by a CSS selector instead of the prefers-color-scheme media query, override the dark variant to use your custom selector:
*/
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --color-gray-950: var(--color-zinc-950);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-50: var(--color-zinc-50);

  --background: var(--color-white);

  /* --font-sans: "Open Sans Variable", sans-serif; */

  --breakpoint-xs: 32rem;

  --color-primary-50: #fef1e7;
  --color-primary-100: #fde7d3;
  --color-primary-200: #fbcea7;
  --color-primary-300: #f9b67b;
  --color-primary-400: #f79b4a;
  --color-primary-500: #f58220;
  --color-primary-600: #d26709;
  --color-primary-700: #a14f07;
  --color-primary-800: #6b3505;
  --color-primary-900: #361a02;
  --color-primary-950: #180c01;

  --color-secondary-50: #e0f2ff;
  --color-secondary-100: #c7e7ff;
  --color-secondary-200: #8accff;
  --color-secondary-300: #52b4ff;
  --color-secondary-400: #1a9cff;
  --color-secondary-500: #007fe0;
  --color-secondary-600: #005da5;
  --color-secondary-700: #00457a;
  --color-secondary-800: #002e52;
  --color-secondary-900: #001729;
  --color-secondary-950: #000c14;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    color: var(--color-gray-900);
    background-color: var(--color-white);
  }
}

/* 
---break---
*/

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/* 
---break---
*/

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/* 
---break---
*/

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  /* 
---break---
*/
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  /* 
---break---
*/
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
