---
import Layout from "./_layout.astro";
import { db } from "@/db";
import { postsTable, sessionsTable } from "@/schema";
import { usersTable } from "@/schema";
import { eq, and, gt, ne, sql } from "drizzle-orm";
import { AdminNavigation } from "@/components/AdminNavigation";
import { CustomButton } from "@/components/CustomButton";
import { ColumnDef } from "@tanstack/react-table";
import { ReactNode } from "react";
import { DataTable } from "@/components/DataTable";
import { ChangePasswordModal } from "@/components/ChangePasswordModal";
import { formatShortDate } from "@/lib/utils";
import { PostsTable } from "@/components/PostsTable";
import { UsersTable } from "@/components/UsersTable";

const sessionToken = Astro.cookies.get("sessionCookie")?.value;

if (!sessionToken) {
  return new Response(null, {
    status: 302,
    headers: { Location: "/login" },
  });
}

// current date to make sure session in db hasn't expired
const now = new Date();
const [session] = await db
  .select()
  .from(sessionsTable)
  .where(
    and(eq(sessionsTable.token, sessionToken), gt(sessionsTable.expiresAt, now))
  );

// If no valid session, redirect
if (!session) {
  return new Response(null, {
    status: 302,
    headers: { Location: "/login" },
  });
}

// Fetch the user
const [user] = await db
  .select()
  .from(usersTable)
  .where(eq(usersTable.id, session.userId));

// Now fetch the "Your Posts"
const yourPostsRaw = await db
  .select()
  .from(postsTable)
  .where(eq(postsTable.author, user.id));

const otherPostsRaw = await db
  .select()
  .from(postsTable)
  .where(ne(postsTable.author, user.id));

const usersRaw = await db.select().from(usersTable);
---

<Layout>
  <AdminNavigation client:load />
  <div
    class="w-full flex flex-col justify-center items-center text-center bg-zinc-700 text-black"
  >
    <div
      class="w-full min-h-screen text-black p-4 flex flex-col justify-start items-center max-w-5xl space-y-10"
    >
      <div class="w-full flex items-start justify-start">
        <CustomButton
          content="Create a new post"
          dark
          link
          href="/admin/new-post"
          client:only="react"
        />
      </div>
      <div class="flex flex-col justify-center items-start space-y-2 w-full">
        <h2 class="text-2xl">Your Posts</h2>
        <div class="w-full bg-black rounded-lg p-2">
          <PostsTable posts={yourPostsRaw} client:load />
        </div>
      </div>

      <div class="flex flex-col justify-center items-start space-y-2 w-full">
        <h2 class="text-2xl">Others Posts</h2>
        <div class="w-full bg-black rounded-lg p-2">
          <PostsTable posts={otherPostsRaw} showAuthor client:load />
        </div>
      </div>

      <div class="flex flex-col justify-center items-start space-y-2 w-full">
        <h2 class="text-2xl">Users</h2>
        <div class="w-full bg-black rounded-lg p-2">
          <UsersTable users={usersRaw} client:load />
        </div>
      </div>

      <div class="flex flex-col justify-center items-start space-y-2 w-full">
        <h2 class="text-2xl">Other actions</h2>
        <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4">
          <ChangePasswordModal client:load />
        </div>
      </div>
    </div>
  </div>
</Layout>
