---
import Layout from "./_layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <div class="w-full flex flex-row min-h-screen justify-end items-end">
    <Button>Hello, world</Button>
  </div>
  
</Layout>
